.home-container {
    background-color: lightblue !important;
}

.home {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-container {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .sidebar-container {
        width: 10%;
    }

    .main-container {
        width: 80%;
    }
    .cards {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .bg-white {
        width: 200px;
        margin-bottom: 1rem;
        flex: 0 0 200px;
        height: 200px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .text-lg {
        justify-content: center;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .text-xl {
        justify-content: center;
        display: flex;
        font-size: 1.2rem;
    }

    .data-title {
        justify-content: center;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .sensor-subtitle {
        justify-content: center;
        display: flex;
        font-size: 1rem;
        font-weight: bold;
    }
    .gauge-meter-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .gauge-meter-group,
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.blank {
    background-color: lightblue;
    padding: 20%;
}