.home-container {
    background-color: lightblue !important;
}

.home {
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-container {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .sidebar-container {
        width: 10%;
    }

    .main-container {
        width: 80%;
    }
    .cards {
        justify-content: flex-start;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        margin-top: 10px;
        margin-right: 200px;
    }

    .bg-white {
        margin-bottom: 1rem;
        flex: 0 0 200px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .text-lg {
        justify-content: center;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .text-xl {
        justify-content: center;
        display: flex;
        font-size: 1.2rem;
    }

    .data-title {
        font-size: 70px;
        font-weight: 600;
        background-image: linear-gradient(to left, #074d79, #4facf6);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        justify-content: center;
        display: flex;
        padding-left: 20%;
    }

    .bar {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 124%;
        height: 50%;
        border-radius: 0.375rem;
        padding: 10px;
    }

    .gauge-meter-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 10px;
        margin-right: 200px;
    }
}
@media (max-width: 768px) {
    .gauge-meter-group,
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.blank {
    background-color: lightblue;
    padding: 20%;
}